{% load static %}

<div class="row mx-auto justify-content-between">
    <div class="col">
        <div class="text-center">
            <h5 class="text-app-secondary-dark mt-2 mb-n1">Testing Center</h5>
        </div>
        {% url 'glue_forms:page:dashboard' as form_dashboard %}
        <a href="{{ form_dashboard }}">Forms</a>
        <span class="text-app-secondary-dark">|</span>
        <a href="">Fields</a>
    </div>
    <div class="col text-center">
        <img height="20px" class="pt-1" src="{% static 'img/bananna.png' %}" alt="Glue Logo">
        <img height="20px" class="pt-1" src="{% static 'img/bananna.png' %}" alt="Glue Logo">
        <img height="60px" src="{% static 'img/glue_text_logo.png' %}" alt="Glue Logo">
        <img height="20px" class="pt-1" src="{% static 'img/bananna.png' %}" alt="Glue Logo">
        <img height="20px" class="pt-1" src="{% static 'img/bananna.png' %}" alt="Glue Logo">
    </div>
    <div class="col text-end">
        <div class="text-center">
            <h5 class="text-app-secondary-dark mt-2 mb-n1">Performance Center</h5>
        </div>
        <a href="">Load</a>
        <span class="text-app-secondary-dark">|</span>
        {% url 'glue:page:session_data' as session_data_url %}
        <a href="{{ session_data_url }}">Session Data</a>
    </div>
</div>

