{% load static %}

<div class="row justify-content-between align-items-end pb-2 border-bottom border-3 border-app-secondary">
    <div class="col">
        <img height="80px" src="{% static 'img/frontend.png' %}" alt="Glue Logo">
    </div>
    <div class="col text-center">
        <a href="{% url 'home' %}">
            <img height="110px" src="{% static 'img/glue_logo.png' %}" alt="Glue Logo">
        </a>
    </div>
    <div class="col text-end">
        <img height="80px" src="{% static 'img/backend.png' %}" alt="Glue Logo">
    </div>
</div>
