{% extends 'base/base.html' %}

{% load django_glue %}

{% block base_content %}

    {% include 'navigation/top_navigation.html' with navigation_title="Django Glue View" %}

    <div class="row g-3 p-3" x-data="{
        view_card: new GlueView('{% url "view_card" %}?tacos=hello')
    }">
        <div class="col-6">
            {% include 'card/glue_view_render_inner_card.html' %}
        </div>
        <div class="col-6">
            {% include 'card/glue_view_render_outer_card.html' %}
        </div>
        <div class="col-6">
            {% include 'card/glue_view_get_text.html' %}
        </div>
        <div class="col-6">
            {% include 'card/glue_view_post_text.html' %}
        </div>
    </div>

{% endblock %}