{% extends 'base.html' %}

{% load django_glue %}

{% block base_content %}
    <div class="row">
        <div class="col-12 mb-3 h3 text-center">
            No Glue Test Page
            <a href="{% url 'test' %}">Back To Glue</a>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-6">
            {% include 'card/context_data_card.html' %}
        </div>
        <div class="col-6">
            {% include 'card/context_keys_card.html' %}
        </div>
    </div>


{% endblock %}