{% extends 'base.html' %}

{% load django_glue %}

{% block base_content %}
    <div class="row">
        <div class="col-12 mb-3 h3 text-center">
            Django Glue Test Page
        </div>
    </div>

    <div class="row g-3">
        <div class="col-4">
            {% include 'card/live_update_form_card.html' %}
        </div>

        <div class="col-4">
            {% include 'card/button_update_form_card.html' %}
        </div>

        <div class="col-4">
            {% include 'card/create_form_card.html' %}
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-4">
            {% include 'card/live_read_and_delete_card.html' %}
        </div>

        <div class="col-4">
            {% include 'card/context_data_card.html' %}
        </div>

        <div class="col-4">
            {% include 'card/javascript_data_card.html' %}
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-4">
            {% include 'card/session_data_card.html' %}
        </div>

        <div class="col-4">
            {% include 'card/message_card.html' %}
        </div>
    </div>

{#    {% glue_message_viewport %}#}

    {% glue_init %}

{% endblock %}