{% extends 'base.html' %}

{% load django_glue %}

{% block base_content %}
    <div class="row">
        <div class="col-12 mb-3 h3 text-center">
            Django Glue Test Page
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-6">
            {% include 'card/change_model_object_card.html' %}
        </div>
        <div class="col-6">
            {% include 'card/add_model_object_card.html' %}
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-6">
            {% include 'card/delete_model_object_card.html' %}
        </div>
        <div class="col-6">
            {% include 'card/view_model_object_card.html' %}
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-6">
            {% include 'card/change_query_set_card.html' %}
        </div>
        <div class="col-6">
            {% include 'card/add_query_set_card.html' %}
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-12">
            {% include 'card/delete_and_view_query_set_card.html' %}
        </div>
    </div>

    <div class="row g-3">
        <div class="col-12">
            {% include 'card/context_data_card.html' %}
        </div>
    </div>


{% endblock %}