__pycache__/
.idea/
.venv*/
.vscode/
.claude/
.codegraph/
.playwright-cli/
dist/
eval/
*.egg-info/
inspectionProfiles/
site/
venv*/
build/
django_glue.egg-info/

.python-version
.coverage

~*.*
*.bat
*.db
*.env
development.env.example
development.env
*.sql


dev_tool.exe
dev_tool*.exe
.dev

.qodo

node_modules/
media/
django_glue_test_project.db