__pycache__/
.idea/
.venv*/
.vscode/
.claude/
dist/
eval/
*.egg-info/
inspectionProfiles/
site/
venv*/
build/
django_glue.egg-info/

.python-version

~*.*
*.bat
*.db
*.env
*.sql


dev_tool.exe
dev_tool*.exe
.dev

.qodo

node_modules/