include README.md
include LICENSE.md
include CHANGELOG.md
include CONTRIBUTORS.md
recursive-include django_glue/templates *
recursive-include django_glue/static *
exclude *.db
recursive-exclude tests
recursive-exclude example
recursive-exclude archived_docs
recursive-exclude test_example
recursive-exclude docs
recursive-exclude .github