{% extends 'card/card.html' %}

{% block header %}
	Big Object
{% endblock %}

{% block body %}
	<div
        x-data="{
            async init() {
                await this.big_model.get()
                console.log(this.big_model)
            },
            big_model: new GlueModelObject('big_model')
        }"
    >
        <label for="Foreign Key">Foreign Key</label>
        <input @keyup.debounce.500ms="big_model.update()" x-model="big_model.foreign_key_id" id="Foreign Key" type="text">
    </div>
{% endblock %}