{% extends 'card/card.html' %}

{% block header %}
    Glue Form Fields
{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">GlueHub: Where Django Developers Connect</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">Create Your Developer Profile</h2>
                </div>
                <div class="card-body">
                    <p class="lead mb-4">Welcome to GlueHub, the premier platform for Django developers! We're using Django Glue to create a seamless experience. Fill out this form to showcase your skills and connect with other passionate developers.</p>

                    <form
                        x-data="{
                        person: new GlueModelObject('person'),
                        people_query_set: new GlueQuerySet('people'),
                        best_friend: new GlueIntegerField('best_friend', {
                            required: true
                        }),
                        ideal_coding_session: new GlueCharField('ideal_coding_session', {label: 'Describe your ideal coding session'}),
                        coding_goals: new GlueCharField('coding_goals', {
                            label: 'What are your coding goals?',
                            choices: [
                                ['learn', 'Learn New Skills'],
                                ['contribute', 'Contribute to Open Source'],
                                ['career', 'Advance My Career'],
                                ['teach', 'Teach Others']
                            ],
                            value: 'learn'
                        }),
                        async init(){
                            await this.person.get()
                            this.best_friend.value = this.person.best_friend
                            this.best_friend.choices = await this.people_query_set.to_choices()
                        }
                    }"
                        method="post"
                    >
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/char_field.html' with glue_model_field='person.first_name' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/char_field.html' with glue_model_field='person.last_name' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/date_field.html' with glue_model_field='person.birth_date' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/search_and_select_field.html' with glue_model_field='person.personality_type' %}
                            </div>
                            <div class="col-12">
                                {% include 'django_glue/form/glue_field/email_field.html' with glue_model_field='person.email' %}
                            </div>
                            <div class="col-12">
                                {% include 'django_glue/form/glue_field/text_field.html' with glue_model_field='person.description' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/number_field.html' with glue_model_field='person.favorite_number' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/decimal_field.html' with glue_model_field='person.weight_lbs' %}
                            </div>
                            <div class="col-12">
                                {% include 'django_glue/form/glue_field/radio_field.html' with glue_model_field='person.likes_to_party' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/select_field.html' with glue_field='best_friend' %}
                            </div>
                            <div class="col-md-6">
                                {% include 'django_glue/form/glue_field/multi_select_field.html' with glue_field='coding_goals' %}
                            </div>
                            <div class="col-12">
                                {% include 'django_glue/form/glue_field/text_field.html' with glue_field='ideal_coding_session' %}
                            </div>
                            <div class="col-12 mt-4">
                                <button class="btn btn-success w-100" type="submit">Create My GlueHub Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}