{% extends "base.html" %}

{% block content %}
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8">
                <div class="card card-gorilla">
                    <div class="card-header bg-gorilla-green text-white">
                        <h5 class="mb-0">Some namespace of Stress Test</h5>
                    </div>
                    <div class="card-body">
                        Stress Testing goes Here
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
