<div class="row">
    <div class="col-12 mb-3 h3 text-center">
        {{ navigation_title }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 mb-3 h5 text-center">
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'model_object' %}">Model Object</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'big_model' %}">Big Model</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'query_set' %}">QuerySet Object</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'query_set_list' %}">QuerySet List</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'other_glue' %}">Other Glue</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'no_glue' %}">No Glue</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'benchmark' %}">Benchmark</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'template' %}">Template</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'view' %}">View</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'function' %}">Function</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'form_fields' %}">Form Fields</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'complex_form' %}">Complex Form</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'complex_model_form' %}">Complex Model Form</a>
        <a class="btn btn-outline-primary p-1 mx-0 mt-2" href="{% url 'uuid_model' %}">UUID Model</a>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3 h5 text-center">
        {% include 'notification/message_notification.html' %}
    </div>
</div>