{% extends 'base/base.html' %}

{% load django_glue %}

{% block base_content %}

    {% include 'navigation/top_navigation.html' with navigation_title="Django Glue Model Object" %}

    <div class="row g-3 mb-3">
        <div class="col-6">
            {% include 'card/update_model_object_card.html' %}
        </div>
    </div>

{#    <div class="row g-3 mb-3">#}
{#        <div class="col-6">#}
{#            {% include 'card/delete_model_object_card.html' %}#}
{#        </div>#}
{#        <div class="col-6">#}
{#            {% include 'card/view_model_object_card.html' %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row g-3 mb-3">#}
{#        <div class="col-6">#}
{#            {% include 'card/method_model_object_card.html' %}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row g-3">#}
{#        <div class="col-6">#}
{#            {% include 'card/context_data_card.html' %}#}
{#        </div>#}
{#        <div class="col-6">#}
{#            {% include 'card/context_keep_live_card.html' %}#}
{#        </div>#}
{#    </div>#}


{% endblock %}