{% extends 'base/base.html' %}

{% load django_glue %}

{% block base_content %}

    {% include 'navigation/top_navigation.html' with navigation_title="Django Glue Template" %}

    <div class="row g-3 p-3 border border-danger" x-data="">
        <p class="text-center">
            ROW DIV CONTENTS
        </p>
        <div class="col-12 p-3 border border-success" x-ref="tacos">
            <p class="text-center">
                COLUMN DIV CONTENTS
            </p>
        </div>
    </div>

{% endblock %}