<div
        x-data="{
        notifications: [],
        add(e) {
            console.log(e)
            this.notifications.push({
                status: e.detail.response_status,
                status_text: e.detail.response_type,
                title: e.detail.message_title,
                body: e.detail.message_body,
                time_stamp: e.timeStamp,
            })
        },
        remove(notification) {
            this.notifications = this.notifications.filter(i => i.id !== notification.id)
        },
    }"
        @glue-response-event.window="add($event)"
        @glue-object-update-error-event.window="add($event)"
        class="d-flex flex-column justify-content-sm-start position-fixed bottom-0 end-0 p-3" style="max-width: 20rem; z-index: 9999; "
>
    <!-- Notification -->
    <template x-for="notification in notifications" :key="notification.time_stamp">
        <div
                x-data="{
                show: false,
                init() {
                    this.$nextTick(() => this.show = true)

                    setTimeout(() => this.transitionOut(), 2000)
                },
                transitionOut() {
                    this.show = false

                    setTimeout(() => this.remove(this.notification), 500)
                },
            }"
                x-show="show"
                x-transition.duration.500ms
                class="position-relative w-100 bg-white py-3 px-3 mt-2 shadow border rounded "
                style="max-width: 30rem; border-color: #e5e7eb;"
        >
            <div class="flex items-start">
                <!-- Icons -->
                <div x-show="notification.status === '404'" class="flex-shrink-0">
                    <span class="d-inline-flex align-items-center justify-content-center text-xl fw-bold text-secondary">!</span>
                </div>

                <div x-show="notification.status === '200'" class="flex-shrink-0">
                    <span class="d-inline-flex align-items-center justify-content-center text-xl fw-bold text-success">&check;</span>
                </div>

                <div x-show="notification.status === '500'" class="flex-shrink-0">
                    <span class="d-inline-flex align-items-center justify-content-center text-xl fw-bold text-danger">&times;</span>
                </div>

                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <span x-text="notification.title" class="text-sm font-medium leading-5 text-gray-900"></span><br>
                    <span x-text="notification.body" class="text-sm font-medium leading-5 text-gray-900"></span>
                </div>
            </div>
        </div>
    </template>
</div>