{% extends 'card/card.html' %}

{% block header %}
    Context Data
{% endblock %}

{% block body %}
    {% for key, val in django_glue_session_data.items %}
        <span class="fw-bold">{{ key }}</span><br>
        {% for key2, val2 in val.items %}
            {% if key2 == 'fields' %}
                <span>{{ key2 }}:</span><br>
                {% for key3, val3 in val2.items %}
                    <li class="ps-2">{{ key3 }}: {{ val3 }}</li>
                {% endfor %}
            {% else %}
                <span>{{ key2 }}: {{ val2 }}</span><br>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
{% endblock %}