{% extends 'card/card.html' %}

{% block header %}
	Filter QuerySet
{% endblock %}

{% block body %}
	<div
        x-data="{
            async init(){
                this.model_object_list = await this.query_set.filter({'first_name': 'Nathan'})
            },
            query_set: new GlueQuerySet('test_query_1'),
            model_object_list: []
        }"
    >
        <div>
            There are <span x-text="model_object_list.length"></span> object(s) with the first name of Nathan.
        </div>
    </div>
{% endblock %}