{% extends 'card/card.html' %}

{% block header %}
    METHOD Query Set
{% endblock %}

{% block body %}
    <div x-data="{
        test_model_1: new GlueModelObject('test_model_1'),
        test_query_1: new GlueQuerySet('test_query_1'),
        method_parameter: null,
        method_return_value: null,
        test_model_list: null,

        async set_model_list(){
            this.test_model_list = await this.test_query_1.all()
        },

        async model_object_method_call(){
            let id_list = []
            await this.set_model_list()
            console.log(this.test_model_list)
            for (let id in this.test_model_list){
                id_list.push(this.test_model_list[id].id)
            }
            console.log(this.test_model_list)
            //this.method_return_value = await this.test_query_1.method(this.test_model_1.id, 'is_lighter_than', {'check_weight': this.method_parameter})
            this.method_return_value = await this.test_query_1.method(id_list, 'get_full_name')
        }

    }" class="row">
        <div class="col-12">
            <form>
                <label for="first_name">First Name</label>
                <div x-text="test_model_1.first_name" id="first_name" class="mb-2"></div>
                <label for="last_name">Last Name</label>
                <div x-text="test_model_1.last_name" id="last_name" class="mb-2"></div>
                <label for="description">Description</label>
                <div x-model="test_model_1.description" id="description" class="mb-2"></div>
                <label for="favorite_number">Favorite Number</label>
                <div x-text="test_model_1.favorite_number" id="favorite_number" class=" mb-2"></div>
                <label for="weight_lbs">Weight (lbs)</label>
                <div x-text="test_model_1.weight_lbs" id="weight_lbs" class="mb-2"></div>
                <label for="weight_lbs" x-text="'Method: ' + test_model_1.context_data.methods[1]"></label>
                <input x-model="method_parameter" id="weight_lbs" type="number" class="form-control mb-2">
            </form>
            <button @click="model_object_method_call()" class="btn btn-outline-success px-2 py-0 mt-2 float-end">
                Submit
            </button>
        </div>
        <div class="col-12">
            <label for="method_return">Method Return Value:</label>
            <div x-text="method_return_value" id="method_return" class="mb-2"></div>
        </div>
    </div>
{% endblock %}