{% extends 'card/card.html' %}

{% block header %}
    UPDATE Query Set
{% endblock %}

{% block body %}
    <div x-data="{
        test_query_1: new GlueQuerySet('test_query_1'),

        model_id: null,
        loaded_model: {},

        async load_model(){
            if (this.model_id){
                this.loaded_model = (await this.test_query_1.get(this.model_id))[0]
            }
        }
    }" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <label for="id">Test Model ID</label>
                    <input x-model="model_id" id="id" type="text" class="form-control mb-2" placeholder="Test Model ID">
                    <button @click="load_model()" class="btn btn-outline-secondary px-2 py-0 float-end">
                        Load Model to Edit
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form>
                        <label for="first_name">First Name</label>
                        <input x-model="loaded_model.first_name" id="first_name" type="text" class="form-control mb-2">
                        <label for="last_name">Last Name</label>
                        <input x-model="loaded_model.last_name" id="last_name" type="text" class="form-control mb-2">
                        <label for="description">Description</label>
                        <textarea x-model="loaded_model.description" id="description" class="form-control mb-2"></textarea>
                        <label for="favorite_number">Favorite Number</label>
                        <input x-model="loaded_model.favorite_number" id="favorite_number" type="text" class="form-control mb-2">
                        <label for="weight_lbs">Weight (lbs)</label>
                        <input x-model="loaded_model.weight_lbs" id="weight_lbs" type="text" class="form-control mb-2">
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button @click="test_query_1.update(loaded_model)"
                            class="btn btn-outline-secondary px-2 py-0 float-end">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}