{% extends 'card/card.html' %}

{% load django_glue %}

{% block header %}
    UUID Model Object Glue
{% endblock %}

{% block body %}
    <div x-data="{
        async init() {
            await this.uuid_title_model.get()
        },
        uuid_title_model: new GlueModelObject('uuid_title_model')
        }" class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-5">id:</div>
                <div class="col-7" x-text="uuid_title_model.id"></div>
            </div>

            <div class="row">
                <div class="col-5">Title:</div>
                <div class="col-7" x-text="uuid_title_model.title"></div>
            </div>

        </div>
    </div>
{% endblock %}