{% extends 'card/card.html' %}

{% block header %}
    CREATE Query Set
{% endblock %}

{% block body %}
    <div x-data="test_query_2" class="row">
        <div class="col-12">
            <form>
                <label for="first_name">First Name</label>
                <input id="first_name" type="text" class="form-control mb-2" x-model="first_name">
                <label for="last_name">Last Name</label>
                <input id="last_name" type="text" class="form-control mb-2" x-model="last_name">
                <label for="description">Description</label>
                <textarea id="description" class="form-control mb-2" x-model="description"></textarea>
                <label for="favorite_number">Favorite Number</label>
                <input id="favorite_number" type="text" class="form-control mb-2" x-model="favorite_number">
                <label for="weight_lbs">Weight (lbs)</label>
                <input id="weight_lbs" type="text" class="form-control mb-2" x-model="weight_lbs">
            </form>

            <button x-on:click="glue_create()" class="btn btn-outline-success px-2 pt-0 pb-1 mt-2 float-end">
                Create
            </button>

            <template x-if="glue_response.message_title">
                <div x-data="glue_response" >
                    Message: <span x-text="message_title"></span><br>
                    First_name: <span x-text="data.first_name"></span>
                </div>
            </template>
        </div>
    </div>

{% endblock %}