{% extends 'card/card.html' %}

{% block header %}
    CHANGE Query Set
{% endblock %}

{% block body %}
    <div x-data="test_query_1" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <input type="text" class="form-control mb-2" placeholder="Test Model ID">
                    <button x-on:click="glue_view()" class="btn btn-outline-secondary px-2 pt-0 pb-1 float-end">
                        Load Model to Edit
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form x-on:keyup.debounce="glue_update()">
                        <label for="first_name">First Name</label>
                        <input id="first_name" type="text" class="form-control mb-2" x-model="first_name">
                        <label for="last_name">Last Name</label>
                        <input id="last_name" type="text" class="form-control mb-2" x-model="last_name">
                        <label for="description">Description</label>
                        <textarea id="description" class="form-control mb-2" x-model="description"></textarea>
                        <label for="favorite_number">Favorite Number</label>
                        <input id="favorite_number" type="text" class="form-control mb-2" x-model="favorite_number">
                        <label for="weight_lbs">Weight (lbs)</label>
                        <input id="weight_lbs" type="text" class="form-control mb-2" x-model="weight_lbs">
                    </form>

                    <template x-if="glue_response.message_title">
                        <div x-data="glue_response">
                            Message: <span x-text="message_title"></span>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>

{% endblock %}