{% extends 'card/card.html' %}

{% block header %}
	Complex Form Integration
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div x-data="{
            init(){
                this.location_choices = {{ location_choices }}

                let initial = '{{ initial }}'
                if (initial){
                    console.log(initial)
                }

            },
            location_choices: null,
            location: null,

            loadLocationTemplate(){
                if (this.location === 'NYC'){
                    template = new GlueTemplate('new_york_element')
                }
                else if (this.location === 'CHI'){
                    template = new GlueTemplate('chicago_element')
                }
                template.render_inner($refs.location_div)
            },
        }">
            {% include 'complex_form/field/location_choice_field.html' %}

            <div x-ref="location_div"></div>
        </div>
    </form>
{% endblock %}