{% extends 'card/card.html' %}

{% block header %}
	Complex Form Integration
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div x-data="{
            init(){
                this.location_choices = {{ location_choices }}

                let initial = '{{ initial }}'
                if (initial){
                    this.initial = JSON.parse(initial)
                    this.$nextTick(() => {
                        this.location = this.initial.location
                        this.loadLocationTemplate()
                    })
                }
                this.$watch('location', () => this.loadLocationTemplate())

            },
            location_choices: null,
            location: null,
            initial: null,

            loadLocationTemplate(){
                if (this.location === 'NYC'){
                    template = new GlueTemplate('new_york_element')
                }
                else if (this.location === 'CHI'){
                    template = new GlueTemplate('chicago_element')
                }
                template.render_inner($refs.location_div)
            }
        }">
            {% include 'form/field/select_field.html' with choices_x_model_name='location_choices' selected_x_model_name='location' %}
{#            {% include 'complex_form/field/location_choice_field.html' %}#}

            <div x-ref="location_div"></div>
        </div>
    </form>
{% endblock %}