{% extends 'card/card.html' %}

{% block header %}
	Create Object from QuerySet
{% endblock %}

{% block body %}
    <div
        x-data="{
            init(){
                console.log(this.query)
            },
            query: new GlueQuerySet('test_query_1'),
            test() {
                console.log(window.glue_session_data)
            }

        }"
        class="row"
    >
        <div class="col">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text">
        </div>
        <div class="col">
            <button @click="test()" class="btn btn-primary">Test!</button>
        </div>
    </div>
{% endblock %}