{% extends 'card/card.html' %}

{% load django_glue %}

{% block header %}
    DELETE & VIEW Query Set
{% endblock %}

{% block body %}
    <div x-data="{
        test_model_1: new GlueModelObject('test_model_1'),
        test_query_1: new GlueQuerySet('test_query_1'),

        test(){
           let val = this.test_query_1.get(this.test_model_1.id)
           console.log(val)
        }

    }" class="row">
        <div class="col-12">
            <div class="row pb-2">
                <div class="col-8">
                    <small class="text-muted">Data is automatically loaded</small>
                </div>
                <div class="col-4">
                    <button @click="test() " class="btn btn-outline-secondary py-0 pb-1 float-end">
                        Refresh View
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <template >
                        <div class="row py-1">
                            <div class="col-1">
                                <span></span>
                            </div>
                            <div class="col-2">
                                <span></span>
                            </div>
                            <div class="col-3">
                                <span></span>
                            </div>
                            <div class="col-2">
                                <span></span>
                            </div>
                            <div class="col-2">
                                <span></span>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-outline-danger p-2 py-0 float-end">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

        </div>
    </div>

{% endblock %}