{% extends 'card/card.html' %}

{% load django_glue %}

{% block header %}
    DELETE & VIEW Query Set
{% endblock %}

{% block body %}
    <div x-data="{
        test_query_1: new GlueQuerySet('test_query_1'),
        test_model_1: new GlueModelObject('test_model_1'),

        test_model_list: [],

        async get_model_list() {
            this.test_model_list = await this.test_query_1.get(this.test_model_1.id)
        },

        async filter_model_list() {
            this.test_model_list = await this.test_query_1.filter({favorite_number: 1234})
        },

        async all_model_list(){
            this.test_model_list = await this.test_query_1.all()
        },

        delete_model_list(){
            let id_list = []
            for (let id in this.test_model_list){
                id_list.push(this.test_model_list[id].id)
            }
            this.test_query_1.delete(id_list)
        }

    }" class="row">
        <div class="col-12">
            <div class="row pb-2">
                <div class="col-8">
                    <small class="text-muted">Data is automatically loaded</small>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-5 me-1">
                            <button @click="get_model_list()" class="btn btn-outline-secondary py-0 pb-1 float-end">
                                Refresh View
                            </button>
                        </div>
                        <div class="col-5">
                            <button @click="delete_model_list()" class="btn btn-outline-danger py-0 pb-1 float-end">
                                Delete Model List
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <template x-for="test_model in test_model_list">
                        <div class="row py-1">
                            <div class="col-1">
                                <h6>ID:</h6>
                                <span x-text="test_model.id"></span>
                            </div>
                            <div class="col-1">
                                <h6>First Name:</h6>
                                <span x-text="test_model.first_name"></span>
                            </div>
                            <div class="col-2">
                                <h6>Last Name:</h6>
                                <span x-text="test_model.last_name"></span>
                            </div>
                            <div class="col-2">
                                <h6>Description:</h6>
                                <span x-text="test_model.description"></span>
                            </div>
                            <div class="col-2">
                                <h6>Favorite Number:</h6>
                                <span x-text="test_model.favorite_number"></span>
                            </div>
                            <div class="col-2">
                                <h6>Weight lbs:</h6>
                                <span x-text="test_model.weight_lbs"></span>
                            </div>
                            <div class="col-2">
                                <button @click="test_query_1.delete(test_model.id)"
                                        class="btn btn-outline-danger p-2 py-0 float-end">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

        </div>
    </div>

{% endblock %}