{% extends 'card/card.html' %}

{% block header %}
    Form Fields
{% endblock %}

{% block body %}
    <form
            x-data="{
            async init(){
                console.log(this.person)
                await this.person.get()
            },
            person: new GlueModelObject('person')
        }"
            method="post"
    >
        <div class="row g-2">
            <div class="col-6">
                {% include 'django_glue/form/glue_field/char_field.html' with glue_field='person.fields.first_name' x_model_value='person.first_name' %}
            </div>
            <div class="col-6">
                {% include 'django_glue/form/glue_field/char_field.html' with glue_field='person.fields.last_name' x_model_value='person.last_name' %}
            </div>
            <div class="col-6">
                {% include 'django_glue/form/glue_field/date_field.html' with glue_field='person.fields.birth_date' x_model_value='person.birth_date' %}
            </div>
            <div class="col-6">
                {% include 'django_glue/form/glue_field/time_field.html' with glue_field='person.fields.bed_time' x_model_value='person.bed_time' %}
            </div>
            <div class="col-6">
                {% include 'django_glue/form/glue_field/datetime_field.html' with glue_field='person.fields.anniversary_datetime' x_model_value='person.anniversary_datetime' %}
            </div>
            <div class="col-6">
                {% include 'django_glue/form/glue_field/select_field.html' with glue_field='person.fields.personality_type' x_model_value='person.personality_type' %}
            </div>
            <div class="col-6">
                {% include 'django_glue/form/glue_field/email_field.html' with glue_field='person.fields.email' x_model_value='person.email' %}
            </div>
            <div class="col-12">
                {% include 'django_glue/form/glue_field/text_field.html' with glue_field='person.fields.description' x_model_value='person.description' %}
            </div>
            <div class="col-12">
                {% include 'django_glue/form/glue_field/number_field.html' with glue_field='person.fields.favorite_number' x_model_value='person.favorite_number' %}
            </div>
            <div class="col-12">
                {% include 'django_glue/form/glue_field/number_field.html' with glue_field='person.fields.weight_lbs' x_model_value='person.weight_lbs' %}
            </div>
            <div class="col-12">
                <div class="form-label">Does thou like to party?</div>
                {% include 'django_glue/form/glue_field/radio_field.html' with glue_field='person.fields.likes_to_party' x_model_value='person.likes_to_party' %}
            </div>
        </div>
    </form>
{% endblock %}