{% extends 'card/card.html' %}

{% block header %}
    Get QuerySet Object
{% endblock %}

{% block body %}
    <div
        x-data="{
            async init(){
               this.model_object = await this.query.get({{ model_object_id }})
               console.log(this.model_object)

            },
            query: new GlueQuerySet('test_query_1'),
            objects: [],
            model_object: {}
        }"
        class="row"
    >
        <div class="col">
            <h6 class="mb-0">First Name</h6>
            <div x-text="model_object.first_name"></div>
        </div>
        <div class="col">
            <h6 class="mb-0">Last Name</h6>
            <div x-text="model_object.last_name"></div>
        </div>
        <div class="col">
            <h6 class="mb-0">Favorite Number</h6>
            <div x-text="model_object.favorite_number"></div>
        </div>
        <div class="col-12 mt-2">
            <h6 class="mb-0">Description</h6>
            <div x-text="model_object.description"></div>
        </div>
    </div>
{% endblock %}