{% extends 'card/card.html' %}

{% load django_glue %}

{% block header %}
    Manual Get Request
{% endblock %}

{% block body %}
    <div
        x-data="{
            view_card: new ViewGlue('{% url &quot;view_card&quot; %}?tacos=hello'),
            async manual_control() {
                let view_text = await this.view_card.get({'page': 2})
                this.$refs.target_div.innerHTML = view_text
            }
        }"
        class="row g-3 p-3"
    >
        <div class="col-12">
            <button
                class="btn btn-secondary px-2 w-100"
                x-on:click="await manual_control()"
            >
                Get Call
            </button>
        </div>
        <div class="col-12">
            <div class="col-12 p-3 border border-success" x-ref="target_div">
                <p class="text-center m-0">
                    VIEW RENDER TARGET DIV CONTENTS
                </p>
            </div>
        </div>
    </div>
{% endblock %}