{% extends 'card/card.html' %}

{% block header %}
    Live Form
{% endblock %}

{% block body %}
    <div x-data="test_model_live" class="row">
        <div class="col-12">
            <form x-on:keyup.debounce="update()">
                <input type="text" class="form-control mb-2" x-model="char">
                <input type="text" class="form-control mb-2" x-model="text">
                <input type="text" class="form-control mb-2" x-model="integer">
                <input type="text" class="form-control mb-2" x-model="decimal">
            </form>
        </div>
    </div>

{% endblock %}