{% extends 'card/card.html' %}

{% load django_glue %}

{% block header %}
    Live Update Form
{% endblock %}

{% block body %}
    <label for="char">Char</label>
    <input id="char" class="form-control" {% glue_connect 'test_model_live' 'char' 'live' %} />

    <label for="text">Text</label>
    <textarea id="text" class="form-control" {% glue_connect 'test_model_live' 'text' 'live' %}></textarea>

    <label for="integer">Integer</label>
    <input class="form-control" id="integer" name="integer"
           value="" {% glue_connect 'test_model_live' 'integer' 'live' %} />

    <label for="decimal">Decimal</label>
    <input class="form-control" id="decimal" name="decimal"
           value="" {% glue_connect 'test_model_live' 'decimal' 'live' %} />
{% endblock %}