{% extends 'card/card.html' %}

{% block header %}
    Live Form
{% endblock %}

{% block body %}
    <div x-data="glue" class="row">
        <div class="col-12">
            <form x-on:keyup.debounce="test_model_live.create()">
                <input type="text" class="form-control mb-2" x-model="test_model_live.char">
                <input type="text" class="form-control mb-2" x-model="test_model_live.text">
                <input type="text" class="form-control mb-2" x-model="test_model_live.integer">
                <input type="text" class="form-control mb-2" x-model="test_model_live.decimal">
            </form>
        </div>
    </div>

{% endblock %}