{% extends 'card/card.html' %}

{% block header %}
	Update QuerySet Object
{% endblock %}

{% block body %}
    <div
        x-data="{
            async init(){
                this.model_object = await this.query_set.get({{ model_object_id }});
            },
            query_set: new GlueQuerySet('test_query_1'),
            model_object: {}
        }"
        class="row">
        <div class="col">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" x-model="model_object.first_name">
        </div>
        <div class="col">
            <label for="first_name">Last Name</label>
            <input id="first_name" type="text" x-model="model_object.last_name">
        </div>
        <div class="col-12 pt-2">
            <button type="button" @click="model_object.update()">Save</button>
        </div>
    </div>
{% endblock %}