{% extends 'core/base/base.html' %}

{% block base_content %}
    <div class="row sticky-top z-2">
        <div class="col-12">
            {% block navigation_top %}
                {% include 'core/navigation/top_navigation.html' %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% block navigation_bottom %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
