{% extends 'django_spire/page/full_page.html' %}

{% block full_page_content %}
    <h2 class="mb-4">Theme Overview</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/colors_preview_card.html' %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/typography_preview_card.html' %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/buttons_preview_card.html' %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/badges_preview_card.html' %}
        </div>
        <div class="col-md-4 mb-4">
            {% include 'django_spire/theme/card/borders_preview_card.html' %}
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <div class="test h1">Home Page</div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-4">#}
{#            {% url 'glue_model_object:page:list' as glue_model_object_list_url %}#}
{#            {% include 'django_spire/button/primary_outlined_button.html' with button_text='glue_model_object' button_href=glue_model_object_list_url %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {% url 'glue_queryset:page:dashboard' as glue_queryset_dashboard_url %}#}
{#            {% include 'core/button/base_button.html' with button_text='glue_queryset' button_href=glue_queryset_dashboard_url %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {% url 'glue_form:page:dashboard' as glue_form_dashboard_url %}#}
{#            {% include 'core/button/base_button.html' with button_text='glue_form' button_href=glue_form_dashboard_url %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {% url 'glue_view:page:dashboard' as glue_view_dashboard_url %}#}
{#            {% include 'core/button/base_button.html' with button_text='glue_view' button_href=glue_view_dashboard_url %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {% url 'glue_function:page:dashboard' as glue_function_dashboard_url %}#}
{#            {% include 'core/button/base_button.html' with button_text='glue_function' button_href=glue_function_dashboard_url %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
