{% extends 'django_spire/page/full_page.html' %}
{% load static %}

{% block full_page_content %}
    <div class="row py-2">
        <div class="col-12 text-center">
            <h1>Choose Your Adventure...</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-4 p-3 border border-3 border-app-primary">
            <div class="text-center mb-2">
                <h2 class="mb-1 text-app-secondary-dark">Glue Model Objects</h2>
                <img height="100px"
                     src="{% static 'img/eating_bananna.png' %}"
                >
            </div>
            <div>
                {% include 'django_spire/button/secondary_dark_button.html' with button_text='Get Started' button_class='w-100' %}
            </div>
        </div>
        <div class="col-4 text-center">
            <img class="mt-4" height="150px" src="{% static 'img/barrel.png' %}">
        </div>
        <div class="col-4 p-3 border border-3 border-app-primary">
            <div class="text-center mb-2">
                <h2 class="mb-1 text-app-secondary-dark">Glue Queryset</h2>
                <img height="100px" src="{% static 'img/banannas.png' %}">
            </div>
            <div>
                {% include 'django_spire/button/secondary_dark_button.html' with button_text='Get Started' button_class='w-100' %}
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-4 text-center">
            <img height="200px" src="{% static 'img/swing.png' %}">
            <img height="200px" src="{% static 'img/swing.png' %}">
        </div>
        <div class="col-4 p-3 border border-3 border-app-primary">
            <div class="text-center mb-2">
                <h2 class="mb-1 text-app-secondary-dark">Glue View</h2>
                <img height="100px" src="{% static 'img/painting.png' %}"
                >
            </div>
            <div>
                {% include 'django_spire/button/secondary_dark_button.html' with button_text='Get Started' button_class='w-100' %}
            </div>
        </div>
        <div class="col-4 text-center">
            <img height="200px" src="{% static 'img/swing.png' %}">
            <img height="200px" src="{% static 'img/swing.png' %}">
        </div>
    </div>
    <div class="row mx-auto mb-4">
        <div class="col-4 p-3 border border-3 border-app-primary">
            <div class="text-center mb-2">
                <h2 class="mb-1 text-app-secondary-dark">Glue Form</h2>
                <img height="100px" src="{% static 'img/form.png' %}">
            </div>
            <div>
                {% include 'django_spire/button/secondary_dark_button.html' with button_text='Get Started' button_class='w-100' %}
            </div>
        </div>
        <div class="col-4 text-center">
            <img class="mt-4" height="150px" src="{% static 'img/barrel.png' %}">
        </div>
        <div class="col-4 p-3 border border-3 border-app-primary">
            <div class="text-center mb-2">
                <h2 class="mb-1 text-app-secondary-dark">Glue Function</h2>
                <img height="100px" src="{% static 'img/function.png' %}">
            </div>
            <div>
                {% include 'django_spire/button/secondary_dark_button.html' with button_text='Get Started' button_class='w-100' %}
            </div>
        </div>
    </div>
{% endblock %}
