<div class="fs-8 text-light-primary">
    {% block attribute_title %}
        {{ attribute_title_prefix }}{{ attribute_title }}{{ attribute_title_postfix }}
    {% endblock %}
</div>

{% if attribute_href %}
    <a
        class="text-decoration-none"
        href="{{ attribute_href }}"
        target="{{ target }}"
    >
{% else %}
    <div class="fs-6">
{% endif %}

{% block attribute_value %}
    {{ attribute_value_prefix }}{{ attribute_value }}{{ attribute_value_postfix }}
{% endblock %}

{% if attribute_href %}
    </a>
{% else %}
    </div>
{% endif %}
