<div x-data="{
    init(){
        this.$nextTick(() => {
            if ('{{ initial_value }}'){
                this.char_value = '{{ initial }}'
            }
        })
    },
    char_value: ''
}" x-modelable="char_value" x-model="{{ x_model_name }}">
    <div class="row">
        <div class="col-12">
            <label for="id_{{ x_model_name }}">{{ label }}</label>
        </div>
        <div class="col-12">
            <input x-model="char_value" @change="$event.target.value=char_value" :value="char_value" class="form-control mb-2 {{ class }}" id="id_{{ x_model_name }}" name="{{ x_model_name }}" type="text">
        </div>
    </div>
</div>