{% extends 'django_spire/page/page.html' %}
{% load static %}

{% block page_content %}
    <div class="row sticky-top bg-app-layer-one shadow">
        <div class="col-12">
            {% block full_page_top_navigation %}
                {% include 'core/navigation/top_navigation.html' %}
            {% endblock %}
        </div>
    </div>

    {% include 'django_glue/toolbar/accordion/toolbar_accordion.html' with toolbar_width='50%' %}

    <div class="row">
        <div
            x-data="{
                init(){
                    window.addEventListener('resize', this.set_min_height);
                    this.set_min_height()
                },
                set_min_height() {
                    const min = Math.max(0, window.innerHeight - 170);
                    document.documentElement.style.setProperty('--min-content-container-height', `${min}px`);

                }

            }"
            style="min-height: var(--min-content-container-height)"
            class="col-12 ps-4 pe-3"
        >
            {% block full_page_content %}
            {% endblock %}
        </div>
    </div>

    <div class="row border-top border-app-secondary border-3">
        <div class="col-12">
            {% block full_page_bottom_content %}
                {% include 'core/navigation/footer.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
