{% extends 'django_glue/form/glue_field/base_field.html' %}

{% block field_content %}
    <div class="form-group" x-ref="glue_field">
        <div x-data="{ 
            selected_values: Array.isArray(this.value) ? this.value : (this.value ? [this.value] : []),
            update_value() {
                this.value = this.selected_values.length > 0 ? this.selected_values : [];
            }
        }">
            <template x-for="choice in glue_field.choices" :key="choice[0]">
                <div class="form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        :id="glue_field.id + '_' + choice[0]"
                        :name="glue_field.name"
                        :value="choice[0]"
                        x-model="selected_values"
                        @change="update_value"
                    >
                    <label
                        class="form-check-label"
                        :for="glue_field.id + '_' + choice[0]"
                        x-text="choice[1]"
                    ></label>
                </div>
            </template>
        </div>
    </div>
{% endblock %}