{% extends 'django_glue/form/glue_field/base_field.html' %}

{% block field_content %}
    <input
        x-ref="field"
        {% block input_type %}
            {% if input_type %}type="{{ input_type }}"{% else %}type="text"{% endif %}
        {% endblock %}
        {{ extra_attributes }}
        class="form-control"
        x-model.debounce="value"


        {% if not prevent_submit %}
            name="{% if name %}{{ name }}{% elif label %}{% to_snake_case label %}{% endif %}"
            id="id_{% if name %}{{ name }}{% elif label %}{% to_snake_case label %}{% endif %}"
        {% endif %}

        {% if hidden %}hidden="" {% endif %}

        {% if required %}required{% endif %}
        {% block input_attributes %}

        {% endblock %}
    >
{% endblock %}