{% extends "django_glue/form/glue_field/base_field.html" %}

{% block field_content %}
    <div
        x-data="{
            glue_data: {{ glue_data|default:'{}' }},
            selected: Object.entries({{ glue_data.selected_choices|default:'{}' }}).map(([id, values]) => ({ id, ...values })),
            item: null,

            async init() {
                this.glue_field.hide_label();
            },

            async add_item() {
                let item = this.glue_field.value;
                let found = this.glue_field.choices.find(choice => choice[0] == item);

                if (item && found) {
                    let selection = this.glue_data.all_choices[item];

                    this.selected.push({
                        id: item,
                        ...selection
                    });

                    this.glue_field.choices = this.glue_field.choices.filter(choice => choice[0] != item);
                }
            },

            async remove_item(index) {
                let removed = this.selected[index];
                this.selected.splice(index, 1);

                this.glue_field.value = '';

                let label = this.glue_data.display_label;
                this.glue_field.choices.push([removed.id, removed[label]]);
            },

            submit() {
                let serialized = JSON.stringify(this.selected);
                this.$refs.list_component.value = serialized;
            },
        }",
        x-effect="submit()"
    >
        <div class="row g-2">
            <div class="col-11">
                {% include "django_glue/form/glue_field/search_and_select_field.html" with glue_field=glue_field %}
            </div>

            <div class="col-1 d-flex align-items-stretch">
                <button type="button" @click.prevent="add_item()" class="btn btn-primary w-100 h-100">+</button>
            </div>
        </div>

        <template x-for="(item, index) in selected" :key="item.id">
            <div class="row align-items-center item-hover item-container border-bottom border-300 py-2">
                {% block item_row_content %}
                {% endblock %}

                {% block item_button %}
                    <div class="col-md-3 d-flex justify-content-end pt-3">
                        <i @click="remove_item(index)" class="bi bi-trash text-danger cursor-pointer"></i>
                    </div>
                {% endblock %}
            </div>
        </template>
    </div>
{% endblock %}
