{% extends 'django_glue/form/glue_field/base_field.html' %}

{% block field_content %}
    {# This needs to be outside of the child x-data for x-ref to be set correctly #}
    <input
        type="text"
        x-model="value"
        x-ref="glue_field"
        hidden
    >
    <div
        class="position-relative"
        x-data="{
            selected_hover: -1,
            unselected_hover: -1,
            show_dropdown: false,
            search: '',
            init() {
                // Remove the '---------' option from choices
                this.glue_field.choices = this.glue_field.choices.filter(choice => choice[1] !== '----------');

                this.$watch('value', (new_value) => {
                    this.value = new_value;
                });
            },
            add_choice(choice) {
                let selected_values = this.get_selected_values();
                selected_values.push(choice[0]);
                this.update_value(selected_values);
            },
            remove_choice(choice) {
                let selected_values = this.get_selected_values().filter(val => val !== choice[0]);
                this.update_value(selected_values);
            },
            update_value(new_values) {
                this.value = JSON.stringify(new_values);
            },
            get_selected_values() {
                try {
                    return JSON.parse(this.value) || [];
                } catch (e) {
                    return [];
                }
            },
            get_selected_choices() {
                let selected_values = this.get_selected_values();
                return this.glue_field.choices.filter(choice => selected_values.includes(choice[0]));
            },
            get filtered_choices() {
                let selected_values = this.get_selected_values();
                let filtered_array = this.glue_field.choices.filter(
                    choice => !selected_values.includes(choice[0])
                );

                const search = this.search.toLowerCase();
                return filtered_array.filter(filtered_choice => filtered_choice[1].toLowerCase().includes(search));
            },
            focus_input() {
                setTimeout(() => this.$refs.search_input.focus(), 100);
            },
        }"
    >
        {% block selected_choices %}
            <button
                class="form-control text-start d-flex justify-content-between"
                type="button"
                @click="show_dropdown = !show_dropdown; focus_input();"
            >
                {#  Display selected choices in dropdown field #}
                <span class="d-flex flex-wrap align-items-center">
                    <template x-for="(choice, index) in get_selected_choices()" :key="index">
                        <div class="d-inline-block my-1">
                            <span class="badge rounded-pill bg-secondary-soft fs--1 fw-normal border text-secondary-dark me-1">
                                <span x-text="choice[1]"></span>
                            </span>
                        </div>
                    </template>

                    <template x-if="get_selected_choices().length === 0">
                        <span class="">----------</span>
                    </template>
                </span>

                <span class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
            </button>
        {% endblock %}

        <div
            x-cloak
            x-show="show_dropdown"
            @click.outside="show_dropdown = false"
            class="shadow border rounded-2 border-secondary-subtle mt-2 position-absolute z-3 bg-white w-100 p-0"
            style="max-height: 350px; overflow-y: auto; z-index: 3;"
            @keydown.escape="show_dropdown = false"
            x-trap.inert="show_dropdown"
        >
            <div class="fs--2 fw-bold ms-2 my-1">
                Select Many <span class="text-muted">"<span x-text="glue_field.label"></span>"</span>
            </div>

            <div class="m-1">
                <input
                    x-model="search"
                    class="form-control py-1 fs-6"
                    placeholder="Search..."
                    type="text"
                    x-ref="search_input"
                    @keydown.enter.prevent="value = filtered_choices[0][0]; show_dropdown = false"
                >
            </div>

            <template x-for="(choice, index) in get_selected_choices()" :key="index">
                <div
                    class="cursor-pointer py-1 d-flex align-items-center list-group-item px-0"
                    tabindex="0"
                    @mouseover="selected_hover = index"
                    @mouseleave="selected_hover = -1"
                    :style="selected_hover === index
                        ? 'background-color: #f5f6f7; user-select: none;'
                        : 'user-select: none;'"
                    @click="remove_choice(choice)"
                    @keydown.enter.prevent="remove_choice(choice)"
                >
                    <div class="d-flex align-items-center justify-content-center" style="width: 35px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="bi bi-check ms-1 viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="text-truncate" x-text="choice[1]"></span>
                    </div>

                    <span class="text-muted ms-2"></span>
                </div>
            </template>

            <template x-if="get_selected_choices().length > 0">
                <div class="py-1 bg-secondary-soft">
                    <span class="text-muted d-block text-center fs--2"></span>
                </div>
            </template>

            {# Loop though available choices  #}
            <template x-for="(choice, index) in filtered_choices" :key="choice[0]">
                <div
                    class="cursor-pointer py-1 d-flex align-items-center list-group-item px-0"
                    tabindex="0"
                    @mouseover="unselected_hover = index"
                    @mouseleave="unselected_hover = -1"
                    :style="unselected_hover === index
                        ? 'background-color: #f5f6f7; user-select: none;'
                        : 'user-select: none;'"
                    @click="add_choice(choice)"
                    @keydown.enter.prevent="add_choice(choice)"
                >
                    <div class="d-flex align-items-center justify-content-center" style="width: 35px;">
                        <span class="ms-3 ps-2"></span>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="text-truncate" x-text="choice[1]"></span>
                    </div>

                    <span class="text-muted ms-2"></span>
                </div>
            </template>

            {# Message if no available choices #}
            <template x-if="filtered_choices.length === 0">
                <div class="text-center fs--1 py-1">
                    No available choices
                </div>
            </template>
        </div>
    </div>
{% endblock %}
