{% extends 'django_glue/form/glue_field/base_field.html' %}

{% block field_content %}
    <input
        type="text"
        x-model="value"
        x-ref="glue_field"
        hidden
    >
    <div
        class="position-relative"
        x-data="{
            show_dropdown: false,
            search: '',
            hover: -1,
            get filtered_choices() {
                return glue_field.choices.filter(choice => {
                    const label = choice[1].toLowerCase();
                    const search = this.search.toLowerCase();
                    return label.includes(search);
                });
            },
            get choice_verbose() {
                if (!glue_field.choices.some(choice => choice[0] === this.value)) {
                    return '------------';
                } else {
                    return glue_field.choices.find(
                        choice => choice[0] === this.value
                    )?.[1];
                }
            },
            focus_input() {
                setTimeout(() => this.$refs.search_input.focus(), 100)
                if (this.show_dropdown) {
                    this.$refs.search_input.focus()
                }
            },
        }"
    >
        <button
            class="form-control text-start d-flex justify-content-between"
            type="button"
            @click="show_dropdown = !show_dropdown; focus_input();"
        >
            <span x-text="choice_verbose"></span>
            <span class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </span>

        </button>
        <div
            x-cloak
            x-show="show_dropdown"
            @click.outside="show_dropdown = false"
            class="shadow border rounded-2 border-secondary-subtle mt-2 position-absolute z-3 bg-white w-100 p-0 list-group"
            style="max-height: 300px; overflow-y: auto; z-index: 3;"
            @keydown.escape="show_dropdown = false"
            x-trap.inert="show_dropdown"
        >
            <div class="glue-fs--2 fw-bold ms-2 my-1">
                Select <span x-text="glue_field.label"></span>
            </div>
            <div class="m-1">
                <input
                    x-model="search"
                    class="form-control py-1 glue-fs--2"
                    placeholder="Search..."
                    type="text"
                    x-ref="search_input"
                    @keydown.enter.prevent="value = filtered_choices[0][0]; show_dropdown = false"
                >
            </div>
            <template x-for="(choice, index) in filtered_choices" :key="choice[0]">
                <div
                    class="glue-cursor-pointer py-1 d-flex align-items-center list-group-item px-0"
                    tabindex="0"
                    @mouseover="hover = index"
                    @mouseleave="hover = -1"
                    :class="hover === index ? 'bg-app-layer-one' : ''"
                    @click="value = choice[0]; search = ''; show_dropdown = false"
                    @keydown.enter.prevent="value = choice[0]; search = ''; show_dropdown = false"
                >
                    <div class="d-flex align-items-center justify-content-center" style="width: 35px;">
                        <template x-if="value === choice[0]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="bi bi-check ms-1" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                        </template>
                        <template x-if="value != choice[0]">
                            <span class="ms-3 ps-2"></span>
                        </template>
                    </div>

                    {% block choice_information %}
                        <div class="d-flex align-items-center">
                            <span class="text-truncate" x-text="choice[1]"></span>
                        </div>
                    {% endblock %}
                </div>
            </template>
        </div>
    </div>
{% endblock %}
