:root {
    --app-glue-border-primary: var(--app-glue-black);
    --app-glue-border-primary-soft: var(--app-glue-black);
    --app-glue-border-primary-dark: var(--app-glue-black);

    --app-glue-border-secondary: var(--app-glue-grey-dark);
    --app-glue-border-secondary-soft: var(--app-glue-grey-dark);
    --app-glue-border-secondary-dark: var(--app-glue-grey-dark);

    --app-glue-border-accent: var(--app-glue-orange);
    --app-glue-border-accent-soft: var(--app-glue-orange);
    --app-glue-border-accent-dark: var(--app-glue-orange);

    --app-glue-border-success: var(--app-glue-green);
    --app-glue-border-success-outlined: var(--app-glue-green);
    --app-glue-border-success-dark: var(--app-glue-green);

    --app-glue-border-warning: var(--app-glue-yellow);
    --app-glue-border-warning-soft: var(--app-glue-yellow);
    --app-glue-border-warning-dark: var(--app-glue-yellow);

    --app-glue-border-danger: var(--app-glue-red);
    --app-glue-border-danger-soft: var(--app-glue-red);
    --app-glue-border-danger-dark: var(--app-glue-red);

    --app-glue-border-layer-one: var(--app-glue-layer-one);
    --app-glue-border-layer-two: var(--app-glue-layer-two);
    --app-glue-border-layer-three: var(--app-glue-layer-three);
}

.border-app-glue-none {
    border: none !important;
}

.border-app-glue-primary {
    border: 1px solid var(--app-glue-border-primary) !important;
}

.border-app-glue-primary-soft {
    border: 1px solid var(--app-glue-border-primary-soft) !important;
}

.border-app-glue-primary-dark {
    border: 1px solid var(--app-glue-border-primary-dark) !important;
}

.border-app-glue-secondary {
    border: 1px solid var(--app-glue-border-secondary) !important;
}

.border-app-glue-secondary-soft {
    border: 1px solid var(--app-glue-border-secondary-soft) !important;
}

.border-app-glue-secondary-dark {
    border: 1px solid var(--app-glue-border-secondary-dark) !important;
}

.border-app-glue-accent {
    border: 1px solid var(--app-glue-border-accent) !important;
}

.border-app-glue-accent-soft {
    border: 1px solid var(--app-glue-border-accent-soft) !important;
}

.border-app-glue-accent-dark {
    border: 1px solid var(--app-glue-border-accent-dark) !important;
}

.border-app-glue-warning {
    border: 1px solid var(--app-glue-border-warning) !important;
}

.border-app-glue-warning-soft {
    border: 1px solid var(--app-glue-border-warning-soft) !important;
}

.border-app-glue-warning-dark {
    border: 1px solid var(--app-glue-border-warning-dark) !important;
}

.border-app-glue-danger {
    border: 1px solid var(--app-glue-border-danger) !important;
}

.border-app-glue-danger-soft {
    border: 1px solid var(--app-glue-border-danger-soft) !important;
}

.border-app-glue-danger-dark {
    border: 1px solid var(--app-glue-border-danger-dark) !important;
}

.border-app-glue-layer-one {
    border: 1px solid var(--app-glue-border-layer-one) !important;
}

.border-app-glue-layer-two {
    border: 1px solid var(--app-glue-border-layer-two) !important;
}

.border-app-glue-layer-three {
    border: 1px solid var(--app-glue-border-layer-three) !important;
}
