:root {
    --app-glue-text-black: var(--app-glue-black);
    --app-glue-text-white: var(--app-glue-white);

    --app-glue-text-primary: var(--app-glue-blue);
    --app-glue-text-primary-soft: var(--app-glue-blue-soft);
    --app-glue-text-primary-dark: var(--app-glue-blue-dark);

    --app-glue-text-secondary: var(--app-glue-grey);
    --app-glue-text-secondary-soft: var(--app-glue-grey-soft);
    --app-glue-text-secondary-dark: var(--app-glue-grey-dark);

    --app-glue-text-accent: var(--app-glue-orange);
    --app-glue-text-accent-soft: var(--app-glue-orange-soft);
    --app-glue-text-accent-dark: var(--app-glue-orange-dark);

    --app-glue-text-success: var(--app-glue-green);
    --app-glue-text-success-outlined: var(--app-glue-green-soft);
    --app-glue-text-success-dark: var(--app-glue-green-dark);

    --app-glue-text-warning: var(--app-glue-yellow);
    --app-glue-text-warning-soft: var(--app-glue-yellow-soft);
    --app-glue-text-warning-dark: var(--app-glue-yellow-dark);

    --app-glue-text-danger: var(--app-glue-red);
    --app-glue-text-danger-soft: var(--app-glue-red-soft);
    --app-glue-text-danger-dark: var(--app-glue-red-dark);

    --app-glue-text-layer-one: var(--app-glue-layer-one);
    --app-glue-text-layer-two: var(--app-glue-layer-two);
    --app-glue-text-layer-three: var(--app-glue-layer-three);
}

.text-app-glue-black, .text-app-glue-black-hover:hover {
    color: var(--app-glue-text-black) !important;
}

.text-app-glue-white, .text-app-glue-white-hover:hover {
    color: var(--app-glue-text-white) !important;
}

.text-app-glue-primary, .text-app-glue-primary-hover:hover {
    color: var(--app-glue-text-primary) !important;
}

.text-app-glue-primary-soft, .text-app-glue-primary-soft-hover:hover {
    color: var(--app-glue-text-primary-soft) !important;
}

.text-app-glue-primary-dark, .text-app-glue-primary-dark-hover:hover {
    color: var(--app-glue-text-primary-dark) !important;
}

.text-app-glue-secondary, .text-app-glue-secondary-hover:hover {
    color: var(--app-glue-text-secondary) !important;
}

.text-app-glue-secondary-soft, .text-app-glue-secondary-soft-hover:hover {
    color: var(--app-glue-text-secondary-soft) !important;
}

.text-app-glue-secondary-dark, .text-app-glue-secondary-dark-hover:hover {
    color: var(--app-glue-text-secondary-dark) !important;
}

.text-app-glue-accent, .text-app-glue-accent-hover:hover {
    color: var(--app-glue-text-accent) !important;
}

.text-app-glue-accent-soft, .text-app-glue-accent-soft-hover:hover {
    color: var(--app-glue-text-accent-soft) !important;
}

.text-app-glue-accent-dark, .text-app-glue-accent-dark-hover:hover {
    color: var(--app-glue-text-accent-dark) !important;
}

.text-app-glue-warning, .text-app-glue-warning-hover:hover {
    color: var(--app-glue-text-warning) !important;
}

.text-app-glue-warning-soft, .text-app-glue-warning-soft-hover:hover {
    color: var(--app-glue-text-warning-soft) !important;
}

.text-app-glue-warning-dark, .text-app-glue-warning-dark-hover:hover {
    color: var(--app-glue-text-warning-dark) !important;
}

.text-app-glue-danger, .text-app-glue-danger-hover:hover {
    color: var(--app-glue-text-danger) !important;
}

.text-app-glue-danger-soft, .text-app-glue-danger-soft-hover:hover {
    color: var(--app-glue-text-danger-soft) !important;
}

.text-app-glue-danger-dark, .text-app-glue-danger-dark-hover:hover {
    color: var(--app-glue-text-danger-dark) !important;
}

.text-app-glue-layer-one, .text-app-glue-layer-one-hover:hover {
    color: var(--app-glue-text-layer-one) !important;
}

.text-app-glue-layer-two, .text-app-glue-layer-one-hover:hover {
    color: var(--app-glue-text-layer-two) !important;
}

.text-app-glue-layer-three, .text-app-glue-layer-three-hover:hover {
    color: var(--app-glue-text-layer-three) !important;
}
