:root {
    --app-glue-bg-primary: var(--app-glue-blue);
    --app-glue-bg-primary-soft: var(--app-glue-blue-soft);
    --app-glue-bg-primary-dark: var(--app-glue-blue-dark);

    --app-glue-bg-secondary: var(--app-glue-grey);
    --app-glue-bg-secondary-soft: var(--app-glue-grey-soft);
    --app-glue-bg-secondary-dark: var(--app-glue-grey-dark);

    --app-glue-bg-accent: var(--app-glue-orange);
    --app-glue-bg-accent-soft: var(--app-glue-orange-soft);
    --app-glue-bg-accent-dark: var(--app-glue-orange-dark);

    --app-glue-bg-success: var(--app-glue-green);
    --app-glue-bg-success-outlined: var(--app-glue-green-soft);
    --app-glue-bg-success-dark: var(--app-glue-green-dark);

    --app-glue-bg-warning: var(--app-glue-yellow);
    --app-glue-bg-warning-soft: var(--app-glue-yellow-soft);
    --app-glue-bg-warning-dark: var(--app-glue-yellow-dark);

    --app-glue-bg-danger: var(--app-glue-red);
    --app-glue-bg-danger-soft: var(--app-glue-red-soft);
    --app-glue-bg-danger-dark: var(--app-glue-red-dark);

    --app-glue-bg-layer-one: var(--app-glue-layer-one);
    --app-glue-bg-layer-two: var(--app-glue-layer-two);
    --app-glue-bg-layer-three: var(--app-glue-layer-three);

    --app-glue-bg-side-bar: var(--app-glue-side-bar);
    --app-glue-bg-side-bar-dark: var(--app-glue-side-bar-dark);
}

.bg-app-glue-primary, .bg-app-glue-primary-hover:hover {
    background-color: var(--app-glue-bg-primary) !important;
}

.bg-app-glue-primary-soft, .bg-app-glue-primary-soft-hover:hover {
    background-color: var(--app-glue-bg-primary-soft) !important;
}

.bg-app-glue-primary-dark, .bg-app-glue-primary-dark-hover:hover {
    background-color: var(--app-glue-bg-primary-dark) !important;
}

.bg-app-glue-secondary, .bg-app-glue-secondary-hover:hover {
    background-color: var(--app-glue-bg-secondary) !important;
}

.bg-app-glue-secondary-soft, .bg-app-glue-secondary-soft-hover:hover {
    background-color: var(--app-glue-bg-secondary-soft) !important;
}

.bg-app-glue-secondary-dark, .bg-app-glue-secondary-dark-hover:hover {
    background-color: var(--app-glue-bg-secondary-dark) !important;
}

.bg-app-glue-accent, .bg-app-glue-accent-hover:hover {
    background-color: var(--app-glue-bg-accent) !important;
}

.bg-app-glue-accent-soft, .bg-app-glue-accent-soft-hover:hover {
    background-color: var(--app-glue-bg-accent-soft) !important;
}

.bg-app-glue-accent-dark, .bg-app-glue-accent-dark-hover:hover {
    background-color: var(--app-glue-bg-accent-dark) !important;
}

.bg-app-glue-warning, .bg-app-glue-warning-hover:hover {
    background-color: var(--app-glue-bg-warning) !important;
}

.bg-app-glue-warning-soft, .bg-app-glue-warning-soft-hover:hover {
    background-color: var(--app-glue-bg-warning-soft) !important;
}

.bg-app-glue-warning-dark, .bg-app-glue-warning-dark-hover:hover {
    background-color: var(--app-glue-bg-warning-dark) !important;
}

.bg-app-glue-danger, .bg-app-glue-danger-hover:hover {
    background-color: var(--app-glue-bg-danger) !important;
}

.bg-app-glue-danger-soft, .bg-app-glue-danger-soft-hover:hover {
    background-color: var(--app-glue-bg-danger-soft) !important;
}

.bg-app-glue-danger-dark, .bg-app-glue-danger-dark-hover:hover {
    background-color: var(--app-glue-bg-danger-dark) !important;
}

.bg-app-glue-layer-one, .bg-app-glue-layer-one-hover:hover {
    background-color: var(--app-glue-bg-layer-one) !important;
}

.bg-app-glue-layer-two, .bg-app-glue-layer-one-hover:hover {
    background-color: var(--app-glue-bg-layer-two) !important;
}

.bg-app-glue-layer-three, .bg-app-glue-layer-three-hover:hover {
    background-color: var(--app-glue-bg-layer-three) !important;
}

.bg-app-glue-side-bar, .bg-app-glue-side-bar-hover:hover {
    background-color: var(--app-glue-bg-side-bar) !important;
}
