@import url('app-background.css');
@import url('app-border.css');
@import url('app-button.css');
@import url('app-text.css');

:root {
    --app-glue-black: #212529;
    --app-glue-white: #ffffff;

    --app-glue-grey: #797e7f;
    --app-glue-grey-soft: #e3e6ed;
    --app-glue-grey-dark: #313131;

    --app-glue-blue: #385587;
    --app-glue-blue-soft: #6a8bb8;
    --app-glue-blue-dark: #0e102f;

    --app-glue-green: #00c853;
    --app-glue-green-soft: #b9f6ca;
    --app-glue-green-dark: #007837;

    --app-glue-yellow: #f5dd5d;
    --app-glue-yellow-soft: #f5dd5d;
    --app-glue-yellow-dark: #f5dd5d;

    --app-glue-orange: #ff6d00;
    --app-glue-orange-soft: #ff9e80;
    --app-glue-orange-dark: #b25400;

    --app-glue-red: #d50000;
    --app-glue-red-soft: #d50000;
    --app-glue-red-dark: #d50000;

    --app-glue-layer-one: #f8f9fa;
    --app-glue-layer-two: #ebebeb;
    --app-glue-layer-three: #000000;

    --app-glue-side-bar: #325260;
    --app-glue-side-bar-dark: #001720;
}
