:root {
    --app-black: #000000;
    --app-white: #ffffff;

    --app-dark: #212529;
    --app-light: #f8f9fa;

    --app-secondary: #6c757d;
    --app-secondary-soft: #e2e3e5;
    --app-secondary-dark: #41464b;

    --app-primary: #d3ad4f;
    --app-primary-soft: #d3ad4f;
    --app-primary-dark: #d3ad4f;

    --app-success: #198754;
    --app-success-soft: #d1e7dd;
    --app-success-dark: #0f5132;

    --app-warning: #ffc107;
    --app-warning-soft: #fff3cd;
    --app-warning-dark: #664d03;

    --app-accent: #777c7e;
    --app-accent-soft: #777c7e;
    --app-accent-dark: #777c7e;

    --app-danger: #dc3545;
    --app-danger-soft: #f8d7da;
    --app-danger-dark: #842029;

    --app-layer-one: #6f8a61;
    --app-layer-two: #ebebeb;
    --app-layer-three: #000000;
    --app-layer-four: #ffffff;
    --app-layer-five: #000000;

    --app-side-navigation-bg-color: #5a7350;
    --app-mobile-navigation-bg-color: #3c4c35;

    --app-side-navigation-width: 200px;
    --app-mobile-navigation-width: 200px;
}
