{% load static %}

<div class="row justify-content-center align-items-center g-4 py-5">
    <div class="col-5">
        <h5 class="text-app-secondary-dark mb-n2 ">Django Glue</h5>
        <h1 class="mb-0">Input Field.</h1>
        <div>
            The Input Field is a basic form field that allows users to enter text data.
            This field is suitable for collecting short text
            inputs such as names, titles, or other single-line text data.
        </div>
    </div>
    <div class="col-5">
        <div class="p-3 bg-app-layer-two">
            <form method="post">
                {% csrf_token %}
                <div x-data="{
                            input_field: new GlueCharField('input_field')
                        }">
                    {% include 'django_glue/form/field/input_field.html' with glue_field='input_field' %}
                </div>
                <button type="submit" name="example_form" class="mt-2 btn btn-sm bg-app-secondary-dark text-app-layer-one">Submit
                </button>
            </form>
        </div>
    </div>
    <div class="col-10">
        <!-- Attributes card with checkboxes -->
        <div class="p-3 border border-app-layer-two border-3 mb-4">
            <h3 class="text-center mb-2">Attributes</h3>
            <div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="requiredAttr">
                            <label class="form-check-label" for="requiredAttr">Required</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="disabledAttr">
                            <label class="form-check-label" for="disabledAttr">Disabled</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="readonlyAttr">
                            <label class="form-check-label" for="readonlyAttr">Read Only</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="hiddenAttr">
                            <label class="form-check-label" for="hiddenAttr">Hidden</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autofocusAttr">
                            <label class="form-check-label" for="autofocusAttr">Autofocus</label>
                        </div>
                        <div class="mb-2">
                            <label for="maxLengthAttr" class="form-label">Max Length:</label>
                            <input type="number" class="form-control form-control-sm" id="maxLengthAttr">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row justify-content-center">
    <div class="col-5">
        <h3>Special Use Cases</h3>
{#        <div class="p-3 bg-app-layer-two mb-3">#}
{#            <h3>Initializing Through Glue Field</h3>#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                <div x-data="{#}
{#                        input_field: new GlueCharField('input_field', {value: 'Hello World'})#}
{#                    }">#}
{#                    {% include 'django_glue/form/field/input_field.html' with glue_field='input_field' %}#}
{#                </div>#}
{#                <button type="submit" class="mt-2 btn btn-sm bg-app-secondary-dark text-app-layer-one">Submit</button>#}
{#            </form>#}
{#        </div>#}
{##}
{#        <div class="p-3 bg-app-layer-two">#}
{##}
{#            <h3>Initializing By x-data</h3>#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                <div x-data="{#}
{#                        input_field: new GlueCharField('input_field', {value: 'Hello World'}),#}
{#                        init() {#}
{#                            this.input_field.value = 'Hello World'#}
{#                        }#}
{#                    }">#}
{#                    {% include 'django_glue/form/field/input_field.html' with glue_field='input_field' %}#}
{#                </div>#}
{#                <button type="submit" class="mt-2 btn btn-sm bg-app-secondary-dark text-app-layer-one">Submit</button>#}
{#            </form>#}
{#        </div>#}

    </div>

    <!-- Right column for documentation, attributes, and visualization -->
    <div class="col-5">
        <h3 class="text-center mb-2">Field Visualization</h3>
        <!-- Field Visualization (from test_field_one) -->

        <div x-data="{
                fieldState: {
                    value: 'Sample text',
                    required: true,
                    disabled: false,
                    readonly: false,
                    maxLength: 50
                }
            }">
            <div class="row g-4 mb-3">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header bg-light">
                            <h5 class="mb-0">Field Structure</h5>
                        </div>
                        <div class="card-body">
                                <pre class="mb-0"><code>new GlueCharField('field_name', {
    value: '<span x-text="fieldState.value"></span>',
    required: <span x-text="fieldState.required"></span>,
    disabled: <span x-text="fieldState.disabled"></span>,
    readonly: <span x-text="fieldState.readonly"></span>,
    max_length: <span x-text="fieldState.maxLength || 'null'"></span>
})</code></pre>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-header bg-light">
                            <h5 class="mb-0">HTML Output</h5>
                        </div>
                        <div class="card-body">
                                <pre class="mb-0"><code>&lt;input
    type="text"
    name="field_name"
    id="id_field_name"
    class="form-control"
    <span x-show="fieldState.value">value="<span x-text="fieldState.value"></span>"</span>
    <span x-show="fieldState.required">required</span>
    <span x-show="fieldState.disabled">disabled</span>
    <span x-show="fieldState.readonly">readonly</span>
    <span x-show="fieldState.maxLength">maxlength="<span x-text="fieldState.maxLength"></span>"</span>
&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <div class="p-3 mb-4">
            <h3 class="text-center mb-2">Extra! Extra! Read all about it.</h3>

            <h4>Description</h4>
            <p>
                The Input Field is a basic form field that allows users to enter text data. It is implemented using the
                GlueCharField class
                which extends the GlueBaseFormField. This field is suitable for collecting short text inputs such as
                names, titles, or other
                single-line text data.
            </p>

            <h4 class="mt-3">Special Considerations</h4>
            <ul>
                <li>For password input, use a separate password field type instead of this field</li>
                <li>For multi-line text, use a text area field instead</li>
                <li>The field automatically generates a label based on the field name if none is provided</li>
            </ul>
        </div>


    </div>
</div>
