{% extends 'card/card.html' %}

{% block header %}
    DELETE Model Object
{% endblock %}

{% block body %}
    <div x-data="{
        async init() {
            await this.test_model_1.get()
        },
        test_model_1: new GlueModelObject('test_model_1')
        }" class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <button @click="test_model_1.delete()" class="btn btn-outline-danger px-2 py-0 float-end">
                        Delete
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-5">First Name:</div>
                <div class="col-7" x-text="test_model_1.first_name"></div>
            </div>

            <div class="row">
                <div class="col-5">Last Name:</div>
                <div class="col-7" x-text="test_model_1.last_name"></div>
            </div>

            <div class="row">
                <div class="col-5">Description:</div>
                <div class="col-7" x-text="test_model_1.description"></div>
            </div>

            <div class="row">
                <div class="col-5">Favorite Number:</div>
                <div class="col-7" x-text="test_model_1.favorite_number"></div>
            </div>

            <div class="row">
                <div class="col-5">Weight (lbs):</div>
                <div class="col-7" x-text="test_model_1.weight_lbs"></div>
            </div>

            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <small class="text-muted">If the model object is deleted there is nothing to view</small>
                </div>
            </div>

        </div>
    </div>
{% endblock %}