{% extends 'base/base.html' %}

{% load django_glue %}

{% block base_content %}
    {% include 'navigation/top_navigation.html' with navigation_title="Django Glue Model Object" %}

    <div class="row g-3 p-3" x-data="{
        test_function: new GlueFunction('function_1'),
        function_return_value: null
    }">
        <button class="btn btn-outline-info px-2 mt-0"
                @click="function_return_value = test_function.call({'name':'partner', 'greeting': 'Howdy'})">Call Function
        </button>
        <span x-text="function_return_value"></span>
    </div>

{% endblock %}
