{% load django_glue %}

{% glue_component 'test_model_list_item' 'id' %}
    <div class="row border mb-3 mx-1 p-2 shadow-sm rounded-3">
        <div class="col-1" {% glue_component_value 'id' %}>
        </div>
        <div class="col-2" {% glue_component_value 'char' %}>
        </div>
        <div class="col-5" {% glue_component_value 'text' %}>
        </div>
        <div class="col-2" {% glue_component_value 'integer' %}>
        </div>
        <div class="col-1" {% glue_component_value 'decimal' %}>
        </div>
        <div class="col-1">
            <div class="btn btn-warning px-1 py-0" {% glue_component_event 'onclick' 'delete' %}>
                Delete
            </div>
        </div>
    </div>
{% end_glue_component %}