{% load static %}
{% load django_glue %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glue Test</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.x/dist/cdn.min.js"></script>
    {% static 'js/glue/cdn.js' as glue_js_url %}
    {% glue_init glue_js_url %}
</head>
<body>
    <div x-data class="container mt-4">
        <div
            x-data="{
                task: Glue.task,

                init() {
                    console.log(this.task.id)
                    $watch('task', () => {
                        console.log('Task changed:', this.task)
                    })
                },
                async saveTask() {
                    this.task.save();
                },
                async deleteTask() {
                    await this.task.delete();
                }
            }"
            class="row g-3">
            <div class="col-md-6">
                <label for="taskId" class="form-label">ID</label>
                <input type="text" class="form-control" id="taskId" x-model="task.id" readonly>
            </div>
            <div class="col-md-6">
                <label for="taskTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="taskTitle" x-model="task.title">
            </div>
            <div class="col-12">
                <label for="taskDescription" class="form-label">Description</label>
                <textarea class="form-control" id="taskDescription" x-model="task.description"></textarea>
            </div>
            <div class="col-md-6">
                <label for="taskDone" class="form-label">Done</label>
                <select class="form-select" id="taskDone" x-model="task.done">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="taskOrder" class="form-label">Order</label>
                    <input type="number" class="form-control" id="taskOrder" x-model="task.order">
                </div>
                <div class="col-12">
                    <button type="button" @click="await saveTask()" class="btn btn-primary">Save Task</button>
                </div>
                <div class="col-12">
                    <button type="button" @click="await deleteTask()" class="btn btn-primary">Delete Task</button>
                </div>
                <div class="col-12">
                    <button type="button" @click="task.title = 'new_title'" class="btn btn-primary">test</button>
                </div>
                <span x-text="`Title: ${task.title}`"></span>
            </div>


        </div>
</body>
</html>