<div class="row">
    <div class="col-auto me-5">
        <h4>Gorilla Fight League</h4>
                <h5>Organize</h5>
        <ul>
            {% url 'gorilla:list' as the_url %}
            {% include 'element/nav_link_list_element.html' with url=the_url label='Combatants' %}

            {% url 'fight:list' as the_url %}
            {% include 'element/nav_link_list_element.html' with url=the_url label='Fights' %}

            {% url 'fight:schedule' as the_url %}
            {% include 'element/nav_link_list_element.html' with url=the_url label='Schedule Fight' %}

            {% url 'gorilla:skills' as the_url %}
            {% include 'element/nav_link_list_element.html' with url=the_url label='Skills (M2M Test)' %}

            {% url 'gorilla:progressive_form' as the_url %}
            {% include 'element/nav_link_list_element.html' with url=the_url label='Build a Gorilla' %}

            {% url 'gorilla:random_arena' as the_url %}
            {% include 'element/nav_link_list_element.html' with url=the_url label='Arena (Template + Function)' %}
        </ul>
    </div>
    <div class="col">
        <h4>Laboratory Testing</h4>
        <div class="row ps-4">
            <div class="col">
                <h5>Performance</h5>
                <ul>
                    {% url 'lab:performance:speed' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Speed Test' %}

                    {% url 'lab:performance:stress' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Stress Test' %}

                    {% url 'lab:performance:volume' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Volume Test (100k rows)' %}

                    {% url 'lab:performance:flush_session' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Flush Session' %}
                </ul>
            </div>
            <div class="col">
                <h5>Connections</h5>
                <ul>
                    {% url 'lab:connection:connection' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Session Info' %}

                    {% url 'lab:connection:remove_proxy' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Remove Proxy' %}
                </ul>
            </div>
            <div class="col">
                <h5>Recovery</h5>
                <ul>
                    {% url 'lab:connection:expire' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Expire Proxies' %}

                    {% url 'lab:connection:delete_session' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Delete Session' %}

                    {% url 'lab:connection:logout' as the_url %}
                    {% include 'element/nav_link_list_element.html' with url=the_url label='Logout' %}
                </ul>
            </div>
        </div>
    </div>
</div>
