{% load static %}
{% load django_glue %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glue Test</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.x/dist/cdn.min.js"></script>

    {% django_glue_init %}
</head>
<body class="bg-light">
    <div x-data="{ activeTab: 'model' }" class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-white">
                        <h4 class="mb-3 pt-2">Django Glue Test</h4>
                        <ul class="nav nav-tabs card-header-tabs">
                            {% include "components/nav_tab.html" with tab_id="model" tab_label="Model Proxy" %}
                            {% include "components/nav_tab.html" with tab_id="queryset" tab_label="QuerySet Proxy" %}
                            {% include "components/nav_tab.html" with tab_id="form" tab_label="Form Proxy" %}
                        </ul>
                    </div>

                    <div class="card-body">
                        {% include "components/sections/model_proxy.html" %}
                        {% include "components/sections/queryset_proxy.html" %}
                        {% include "components/sections/form_proxy.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
