{% load static %}

{% load django_glue %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>

    <title>Django Glue Test Page</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="">

<main class="main" id="top">
    <div class="container-fluid p-3">
        {% block base_content %}
        {% endblock %}
    </div>
</main>

{% glue_init %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/alpinejs@3.12.2/dist/cdn.min.js" defer></script>
<script src="{% static 'tests.js' %}"></script>

</body>

</html>