{% load static %}

<div
    @click="toggle()"
    class="cursor-pointer d-flex align-items-center position-fixed"
    style="top: 50%; z-index: 10000; height: 40px; width: auto;"
    :style="show_accordion ?
        'top: 50%; z-index: 10000; height: 50px; width: auto; right: {% if toolbar_width %}{{ toolbar_width }}{% else %}400px{% endif %};' :
        'top: 50%; z-index: 10000; height: 50px; width: auto; right: 0px;'"
>
    <span
        class="fs-3 col-auto bi"
        :class="show_accordion ? 'bi-chevron-compact-right' : 'bi-chevron-compact-left'"
    ></span>
    <img
        class="d-inline-block"
        src="{% static 'django_glue/img/toolbar/banana_logo.png' %}"
        style="width: 40px; height: auto;"
    />
</div>