<ol style="--bs-breadcrumb-divider: '>';" class="breadcrumb small d-none d-lg-flex mb-0 fw-semibold">

    <li class="breadcrumb-item">
        <a class="text-decoration-none" href="{% url 'home:home' %}"><i class="bi bi-house-fill"></i> Home</a>
    </li>

    {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item">
            {% if breadcrumb.href  and forloop.counter != breadcrumb_list|length %}
                <a class="text-decoration-none" href="{{ breadcrumb.href }}">{{ breadcrumb.name }}</a>
            {% else %}
                <span>{{ breadcrumb.name }}</span>
            {% endif %}
        </li>
    {% endfor %}

</ol>
