.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Mozilla Headline", sans-serif;
    color: var(--app-primary);
}

.test {
    font-family: "Jersey 15", sans-serif;
    color: var(--app-primary);
}
