{% load static %}
{% csrf_token %}

{#{% if debug %}#}
    <script src="{% static 'django_glue/js/glue.js' %}"></script>
{#{% else %}#}
{#    <script src="{% static 'django_glue/js/glue.min.js' %}"></script>#}
{#{% endif %}#}

{{ DJANGO_GLUE_SESSION_PROXY_REGISTRY|json_script:"glue-proxy-registry" }}
{{ DJANGO_GLUE_PROXIES_CONTEXT_DATA|json_script:"glue-context-data" }}

<script defer type="application/javascript">
    const glueInitParams = {
        proxyRegistryFromSession: JSON.parse(document.getElementById('glue-proxy-registry').textContent),
        contextDataForProxies: JSON.parse(document.getElementById('glue-context-data').textContent),
        keepLiveInterval: {{ DJANGO_GLUE_KEEP_LIVE_INTERVAL_TIME_MILLISECONDS }}
    }

    Glue.init(glueInitParams)
</script>
