{% load static %}
{% csrf_token %}

<script type="application/javascript">
    // TODO: define the names for all the consts and properties below in constants.py and render via template parameters. Or consider including this data via json_script
    const glueServerData = {
        session: JSON.parse('{{ DJANGO_GLUE_SESSION_DATA|safe }}'),
        context: JSON.parse('{{ DJANGO_GLUE_CONTEXT_DATA|safe }}'),
    }

    // TODO: define the configured glue types as a js constant from context data
</script>
<script src="{% static 'django_glue/js/glue.js' %}"></script>