{% extends 'core/dropdown/dropdown.html' %}

{% block dropdown_position %}top-100 w-100{% endblock %}

{% block dropdown_trigger %}
    <input
        @click="open_dropdown = true"
        @click.outside="open_dropdown = false"
        x-model="search"
        type="text"
        class="form-control mb-2" placeholder="Search..."
        aria-label="Username" aria-describedby="basic-addon1"
    >
{% endblock %}

{% block dropdown_content %}
    {% include 'form/element/select_dropdown_content_element.html' with choices='filteredChoices' %}
{% endblock %}
