{% load static %}

<div
    x-data="{
        show_accordion: false,
        toggle() {
            this.show_accordion = !this.show_accordion
        }
    }"
    class="position-fixed"

>
    {% include 'django_glue/toolbar/button/toolbar_accordion_toggle_button.html' %}
    <template x-teleport="body">
        <div
            x-cloak
            x-show="show_accordion"
            class="position-fixed bg-white container p-3 overflow-scroll"
            style="top:0; bottom: 0; right: 0; width: {% if toolbar_width %}{{ toolbar_width }}{% else %}400px{% endif %}; z-index: 10000;"
        >
            <div class="col-12 fs-4 mb-3">Django Glue Toolbar</div>
            <hr>
            <div class="row">
                <div class="col-auto">
                    <div class="fs-5 fw-semibold">Version</div>
                    <div class="fs-6">{{ DJANGO_GLUE_VERSION }}</div>
                </div>
                <div class="col-auto">
                    <div class="fs-5 fw-semibold">Keep Live Interval Milliseconds</div>
                    <div class="fs-6">{{ DJANGO_GLUE_KEEP_LIVE_INTERVAL_TIME_MILLISECONDS|floatformat:0 }}</div>
                </div>
            </div>
            <br>
            <div class="fs-5 fw-semibold">Session Data</div>
            {% include 'django_spire/forms/elements/dict_element.html' with dict=TOOLBAR_SESSION_DATA %}
        </div>
    </template>
</div>

