<script type="application/javascript">

    let debounce_method = null

    function debounce(method, interval = 300) {
        clearTimeout(debounce_method);
        debounce_method = setTimeout(method, interval)
    }

    function get_cookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrf_token = get_cookie('csrftoken');

    function post_ajax(url, data) {
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token,
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data)
            })
            .catch((error) => {
                console.error('Error:', error)
            });
    }

    const javascript_data = document.getElementById('javascript-data')

    let glue = JSON.parse('{{ glue_json_string|safe }}')
    let proxy_glue = JSON.parse('{{ glue_json_string|safe }}')

    {# This is not required anymore #}
    let glue_change_interval = setInterval(function () {
        if (JSON.stringify(glue) !== JSON.stringify(proxy_glue)) {
            {#post_ajax(#}
            {#    '{% url 'django_glue:glue_handler' %}',#}
            {#    {#}
            {#        'something': 'tacos',#}
            {#        'another': 123,#}
            {#    },#}
            {#)#}
            proxy_glue = JSON.parse(JSON.stringify(glue))
            javascript_data.innerText = JSON.stringify(glue)
        }
    }, 2000);

    javascript_data.innerText = JSON.stringify(glue)

    function process_glue_connection(el) {
        glue_data = glue[el.getAttribute('glue-type')][el.getAttribute('glue-object')]
        el.value = glue_data[el.getAttribute('glue-field')]
        el.addEventListener('keyup', function () {
            glue[el.getAttribute('glue-type')][el.getAttribute('glue-object')][el.getAttribute('glue-field')] = el.value
            debounce(function () {
                post_ajax(
                    '{% url 'django_glue:glue_handler' %}',
                    {
                        'key': glue_data['django_glue_key'],
                        'type': el.getAttribute('glue-type'),
                        'object': el.getAttribute('glue-object'),
                        'field': el.getAttribute('glue-field'),
                        'value': el.value,
                    },
                )
            })
        })
    }

    document.querySelectorAll('[glue-connect]').forEach(process_glue_connection)


</script>